.discount-box{
    display: flex;
    width: 69%;
    align-items: baseline;
    margin-bottom: 8px;
}
.currPrice{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #5C6874;
}

.oldPrice{
    font-size:14px ;
    line-height: 20px;
    color: #9fa9b3;
}
.currDis{
    font-size:13px;
    font-weight: 400;
    line-height: 20px;
    color:#EF4C5D ;
}