.body{
    margin-left: 11px;
    width: 1592px;
    
    
} 

.main-content{
    display: flex;
    flex-direction: column;
    margin-left: 271px;
    gap: 16px;
}
.space{
    height: 24px;
}
.bodyheader-title2{
    font-size: 32px;
    line-height: 44px;
    
}
.item-container{
    display: flex;
    gap:22px ;
}
