.offer-box{
    display: flex;
    width: fit-content;
    height: 28px;
    background: #F2F4F7;
    border-radius: 8px;
    align-items: center;
    margin-left:20px ;
    justify-content: flex-start;

}
.offer-box p{
    width: fit-content;
    height: 20px;
    font-size:13px ;
    font-weight: 400;
    color:#074786 ;
    padding: 4px 8px;
    text-align: center;
}