body{
    
    margin: 0;
}
ul li{
    list-style: none;
}
.navbar{
    position: relative;
    top: 0;
    left: 0;
    width: 1592px;
    height: 64px;
    background: #212731;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar , .searchBar input{
    display: flex;
    width: 258px;
    height: 37px;
    top: 14px;

    left: 480px;
    border-radius: 8px;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #E1E4E6

}
.searchBar{
    border: none;
    margin-right: 20px;
    outline: none;
}
.searchBar input{
    height: 100%;
}

.nav-item ul{
    display: flex;
    flex-direction:row ;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    gap: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D6DA;


}
.nav-item ul li:hover{
    text-decoration: underline;
    text-decoration-color: #1B88F4;
    text-decoration-thickness:2px ;

}