.main-highlight-box{
   
    margin: 4px;
    width: 505px;
    height: 116px;
    border-radius: 12px;
    background: #FFF4ED;
    margin-left: 18px;
}

.main-highlight-box div{
    margin-left: 12px;
    font-weight: 400;
    font-size: 15px;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.main-highlight-box div  p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    width: 40px;
    line-height: 24px;
    background: #fff;
    color: #1B88F4;
    text-align: center;
}
